# data cleaning

In [1]:
import pandas as pd

# zulu
- most of the data is english not useful

In [2]:
zulu = pd.read_csv("./data/tweets_zulu.csv")
zulu.head()

,Unnamed: 0,DateCreated,TimeCreated,CleanedTweet,Sentiment,Likes,No of replies,Language,Retweets,User Location,Tweet Origin,Coordinates,District,Province,Number of Attacks
0,0,2022-07-18,20:57:33,Where are the foreigners? We were told maRus...,Negative,6,0,en,1,"Centurion, South Africa",Centurion,"longitude=28.0010585, latitude=-25.9448996",Rural,Gauteng,0
1,1,2022-07-18,20:15:58,We invite all those who have lost loved ones t...,Negative,3,2,en,0,"Johannesburg, South Africa",Johannesburg,"longitude=27.7518557, latitude=-26.5126489",Urban,Gauteng,0
2,2,2022-07-18,20:03:16,"After battling with HIV/AIDS for years, South ...",Negative,79,2,en,18,Planet Earth,Pretoria,"longitude=27.9483035, latitude=-25.9157727",Urban,Gauteng,0
3,3,2022-07-18,15:03:18,Nani impela seniyamthemba UCele nama phoyisa....,Negative,0,0,en,0,South Africa Nkandla e Hlwane,Johannesburg,"longitude=27.7518557, latitude=-26.5126489",Rural,Gauteng,0
4,4,2022-07-18,14:41:14,Give Nhlanhla his flowers for release himse...,Negative,0,1,en,0,Jozi,Johannesburg,"longitude=27.7518557, latitude=-26.5126489",Rural,Gauteng,0

In [3]:
zulu['Language'].value_counts()

Language
en     15256
und      141
qme      100
tl        87
in        79
qht       46
fr        30
ht        19
qam       19
cs        17
et        16
ca        15
nl        13
es        11
fi        10
ro         7
sl         6
de         5
tr         5
pl         5
pt         4
zxx        4
cy         3
hi         3
ja         3
no         2
hu         1
sv         1
it         1
eu         1
lv         1
lt         1
Name: count, dtype: int64

# english

In [4]:
df = pd.read_csv("./data/text_english.csv")
df

        Unnamed: 0                                               text  label
0                0      i just feel really helpless and heavy hearted      4
1                1  ive enjoyed being able to slouch about relax a...      0
2                2  i gave up my internship with the dmrg and am f...      4
3                3                         i dont know i feel so lost      0
4                4  i am a kindergarten teacher and i am thoroughl...      4
...            ...                                                ...    ...
416804      416804  i feel like telling these horny devils to find...      2
416805      416805  i began to realize that when i was feeling agi...      3
416806      416806  i feel very curious be why previous early dawn...      5
416807      416807  i feel that becuase of the tyranical nature of...      3
416808      416808  i think that after i had spent some time inves...      5

[416809 rows x 3 columns]